# Supplementary File 4: Encoding and Imputing
(1) encoding the LoFtool dataset 
(2) dealing with missing values 

Input: clinvar_loftool.csv
Output: loftool_encoded.csv, then, df_loftool.csv

References to learn Target Encoding
[1] https://www.youtube.com/watch?v=Qp9L2dmFxVY
[2] https://www.youtube.com/watch?v=nd7vc4MZQz4  
[3] https://stackoverflow.com/questions/48817592/how-to-drop-dataframe-columns-based-on-dtype

In [2]:
import pandas as pd 
import numpy as np 
import category_encoders as ce
from category_encoders import TargetEncoder

#read in the file
df = pd.read_csv('clinvar_loftool.csv') 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39693 entries, 0 to 39692
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CHROM             39693 non-null  object
 1   POS               39693 non-null  int64
 2   REF               39693 non-null  object
 3   ALT               39693 non-null  object
 4   AF_ESP            39693 non-null  float64
 5   AF_EXAC           39693 non-null  float64
 6   AF_TGP            39693 non-null  float64
 7   MC                39681 non-null  object
 8   IMPACT            39693 non-null  object
 9   SYMBOL            39693 non-null  object
 10  Feature           39693 non-null  object
 11  EXON              39693 non-null  object
 12  cDNA_position     39693 non-null  float64
 13  CDS_position      39693 non-null  float64
 14  Protein_position  39693 non-null  int64
 15  Amino_acids       39693 non-null  object
 16  Codons            39693 non-null  object
 17  STRAND            39693 non-null  float64
 18  LoFtool           37220 non-null  float64
dtypes: float64(7), int64(2), object(10)
memory usage: 5.8+ MB

In [4]:
#number of categories
categories_symbol = df.SYMBOL.value_counts()
print(categories_symbol)

categories_exon = df.EXON.value_counts()
print(categories_exon)

SYMBOL
TTN        1645
ATM        1381
BRCA2      1136
APC         938
MSH6        800
           ...
HOXD10        1
RPS6KA3       1
WIPF1         1
MBTPS2        1
CLIC2         1
Name: count, Length: 2069, dtype: int64
EXON
16/16    874
4/10     600
11/27    557
3/3      372
10/24    369
        ...
19/43      1
36/47      1
19/47      1
2/45       1
30/53      1
Name: count, Length: 2983, dtype: int64

In [6]:
#dealing with missing values
#delete the null values for LoFtool since machine learning models need input and output
df = df.dropna(subset = 'LoFtool')
df.info()
df.to_csv('loftool_full.csv', index = False)

<class 'pandas.core.frame.DataFrame'>
Index: 37220 entries, 5 to 39692
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CHROM             37220 non-null  object
 1   POS               37220 non-null  int64
 2   REF               37220 non-null  object
 3   ALT               37220 non-null  object
 4   AF_ESP            37220 non-null  float64
 5   AF_EXAC           37220 non-null  float64
 6   AF_TGP            37220 non-null  float64
 7   MC                37210 non-null  object
 8   IMPACT            37220 non-null  object
 9   SYMBOL            37220 non-null  object
 10  Feature           37220 non-null  object
 11  EXON              37220 non-null  object
 12  cDNA_position     37220 non-null  float64
 13  CDS_position      37220 non-null  float64
 14  Protein_position  37220 non-null  int64
 15  Amino_acids       37220 non-null  object
 16  Codons            37220 non-null  object
 17  STRAND            37220 non-null  float64
 18  LoFtool           37220 non-null  float64
dtypes: float64(7), int64(2), object(10)
memory usage: 5.7+ MB

In [7]:
#input taken from claude.ai and chatgpt 

import pandas as pd 
import numpy as np 
import category_encoders as ce
from category_encoders import TargetEncoder

categorical_cols = ['CHROM', 'REF', 'ALT', 'MC', 'IMPACT', 'SYMBOL', 'Feature', 'EXON', 'Amino_acids', 'Codons']
transformed_cols = []
target = 'LoFtool'
for col in categorical_cols:
    encoder = TargetEncoder(cols = col, smoothing = 10)
    encoder.fit(X=df[col], y=df[target])
    transformed_col = encoder.transform(df[col])
    transformed_col.name = col + '_encoded'
    print(transformed_col)
    transformed_cols.append(transformed_col) 
transformed_df = pd.concat(transformed_cols, axis = 1)
encoded_df = pd.merge(df, transformed_df, left_index=True, right_index=True)
encoded_df.info()

encoded_df = encoded_df.select_dtypes(exclude=['object'])
print("after i take out object columns:")
encoded_df.info()

for col in encoded_df.columns:
    encoded_df = encoded_df.rename(columns={col: col.replace('_y', '')})
encoded_df.info()

encoded_df.to_csv('df_loftool.csv', index = False)

          CHROM
5      0.275599
6      0.275599
7      0.275599
8      0.275599
9      0.275599
...         ...
39684  0.146512
39688  0.146512
39689  0.146512
39690  0.146512
39692  0.146512

[37220 rows x 1 columns]
            REF
5      0.406165
6      0.332054
7      0.335588
8      0.332054
9      0.332054
...         ...
39684  0.332054
39688  0.332054
39689  0.406165
39690  0.332054
39692  0.335588

[37220 rows x 1 columns]
            ALT
5      0.387783
6      0.334983
7      0.335324
8      0.334983
9      0.334983
...         ...
39684  0.334983
39688  0.334983
39689  0.363932
39690  0.334983
39692  0.387783

[37220 rows x 1 columns]
             MC
5      0.361955
6      0.361955
7      0.361955
8      0.361955
9      0.361955
...         ...
39684  0.361955
39688  0.323842
39689  0.323842
39690  0.323842
39692  0.361955

[37220 rows x 1 columns]
         IMPACT
5      0.362895
6      0.362895
7      0.362895
8      0.362895
9      0.362895
...         ...
39684  0.362895
39688  0.330110
39689  0.330110
39690  0.330110
39692  0.362895

[37220 rows x 1 columns]
         SYMBOL
5      0.125817
6      0.125817
7      0.039848
8      0.039848
9      0.039848
...         ...
39684  0.253571
39688  0.269192
39689  0.269192
39690  0.269192
39692  0.322499

[37220 rows x 1 columns]
        Feature
5      0.125817
6      0.125817
7      0.039848
8      0.039848
9      0.039848
...         ...
39684  0.253571
39688  0.269192
39689  0.269192
39690  0.269192
39692  0.322499

[37220 rows x 1 columns]
           EXON
5      0.214398
6      0.214398
7      0.337447
8      0.278594
9      0.278594
...         ...
39684  0.324797
39688  0.420948
39689  0.420948
39690  0.469036
39692  0.315300

[37220 rows x 1 columns]
       Amino_acids
5         0.374606
6         0.306722
7         0.310786
8         0.371286
9         0.368970
...            ...
39684     0.298080
39688     0.292584
39689     0.336084
39690     0.307774
39692     0.295299

[37220 rows x 1 columns]
         Codons
5      0.355170
6      0.307589
7      0.310786
8      0.339807
9      0.330304
...         ...
39684  0.273377
39688  0.279748
39689  0.420005
39690  0.298493
39692  0.301638

[37220 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 37220 entries, 5 to 39692
Data columns (total 29 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CHROM_x           37220 non-null  object
 1   POS               37220 non-null  int64
 2   REF_x             37220 non-null  object
 3   ALT_x             37220 non-null  object
 4   AF_ESP            37220 non-null  float64
 5   AF_EXAC           37220 non-null  float64
 6   AF_TGP            37220 non-null  float64
 7   MC_x              37210 non-null  object
 8   IMPACT_x          37220 non-null  object
 9   SYMBOL_x          37220 non-null  object
 10  Feature_x         37220 non-null  object
 11  EXON_x            37220 non-null  object
 12  cDNA_position     37220 non-null  float64
 13  CDS_position      37220 non-null  float64
 14  Protein_position  37220 non-null  int64
 15  Amino_acids_x     37220 non-null  object
 16  Codons_x          37220 non-null  object
 17  STRAND            37220 non-null  float64
 18  LoFtool           37220 non-null  float64
 19  CHROM_y           37220 non-null  float64
 20  REF_y             37220 non-null  float64
 21  ALT_y             37220 non-null  float64
 22  MC_y              37220 non-null  float64
 23  IMPACT_y          37220 non-null  float64
 24  SYMBOL_y          37220 non-null  float64
 25  Feature_y         37220 non-null  float64
 26  EXON_y            37220 non-null  float64
 27  Amino_acids_y     37220 non-null  float64
 28  Codons_y          37220 non-null  float64
dtypes: float64(17), int64(2), object(10)
memory usage: 9.5+ MB
after i take out object columns:
<class 'pandas.core.frame.DataFrame'>
Index: 37220 entries, 5 to 39692
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   POS               37220 non-null  int64
 1   AF_ESP            37220 non-null  float64
 2   AF_EXAC           37220 non-null  float64
 3   AF_TGP            37220 non-null  float64
 4   cDNA_position     37220 non-null  float64
 5   CDS_position      37220 non-null  float64
 6   Protein_position  37220 non-null  int64
 7   STRAND            37220 non-null  float64
 8   LoFtool           37220 non-null  float64
 9   CHROM_y           37220 non-null  float64
 10  REF_y             37220 non-null  float64
 11  ALT_y             37220 non-null  float64
 12  MC_y              37220 non-null  float64
 13  IMPACT_y          37220 non-null  float64
 14  SYMBOL_y          37220 non-null  float64
 15  Feature_y         37220 non-null  float64
 16  EXON_y            37220 non-null  float64
 17  Amino_acids_y     37220 non-null  float64
 18  Codons_y          37220 non-null  float64
dtypes: float64(17), int64(2)
memory usage: 6.7 MB
<class 'pandas.core.frame.DataFrame'>
Index: 37220 entries, 5 to 39692
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   POS               37220 non-null  int64
 1   AF_ESP            37220 non-null  float64
 2   AF_EXAC           37220 non-null  float64
 3   AF_TGP            37220 non-null  float64
 4   cDNA_position     37220 non-null  float64
 5   CDS_position      37220 non-null  float64
 6   Protein_position  37220 non-null  int64
 7   STRAND            37220 non-null  float64
 8   LoFtool           37220 non-null  float64
 9   CHROM             37220 non-null  float64
 10  REF               37220 non-null  float64
 11  ALT               37220 non-null  float64
 12  MC                37220 non-null  float64
 13  IMPACT            37220 non-null  float64
 14  SYMBOL            37220 non-null  float64
 15  Feature           37220 non-null  float64
 16  EXON              37220 non-null  float64
 17  Amino_acids       37220 non-null  float64
 18  Codons            37220 non-null  float64
dtypes: float64(17), int64(2)
memory usage: 6.7 MB